/* Override some defaults */
html, body {
  /*background-color: #eee ;*/
  background:#eee url(bg.jpg) repeat;
}
.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  max-width: 940px;
  background-color: #DBDBDB;
  padding: 20px;
  margin: 0 auto; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
p.description{
  font-size: 130%;
  line-height: 200%;
  font-family: "Vollkorn", sans-serif;
}
.strech-well {
  max-width: 940px;
  margin: 0 auto
}
/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

ul.socialicons {
	font-family: icomoon;
	list-style: none;
}

ul.socialicons li {
    display: inline;
    list-style: none;
    padding: 0 1px 0 0;
}
ul.socialicons li a {
    color: #505050;
    font-size: 32px;
    line-height: 40px;
    text-decoration: none;
}

/*@font-face {
    font-family: "Socialico";
    src: url("Socialico.otf") format("opentype");
}*/

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?#') format('eot'),
    url('fonts/icomoon.svg#icomoon') format('svg'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
}
	